<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>le TrafficSpy</title>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:700' rel='stylesheet' type='text/css'>
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">le TrafficSpy</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider show-for-small"></li>
        <li class="has-form">
          <a class="button" href="#"><i class="icon-user"></i>Log In</a>
        </li>
      </ul>
    </section>
  </nav>

  <div id="main" class="row">
    <div id="sub-nav" class="large-2 columns">
      <ul class="sub-nav">
        <li><a href="/sources/<%= @identifier %>"><i class="icon-dashboard"></i>Dashboard</a></li>
        <li><a href="#" class="active"><i class="icon-copy"></i>Pages</a></li>
        <li><a href="/sources/<%= @identifier %>"><i class="icon-time"></i>Response Times</a></li>
        <li><a href="/sources/<%= @identifier %>/campaigns"><i class="icon-money"></i>Campaigns</a></li>
        <li><a href="/sources/<%= @identifier %>/events"><i class="icon-group"></i>Events</a></li>
        <li><a href="/sources/<%= @identifier %>"><i class="icon-cogs"></i>Operating Systems</a></li>
        <li><a href="/sources/<%= @identifier %>"><i class="icon-laptop"></i>Screen Resolutions</a></li>
      </ul>
    </div>

    <div id="content" class="large-10 columns">
      <div id="content-inner">
        <% if @url_exists == true %>
        <div class="full-table">
          <h3>Response Times For <em>"<%= @path %>"</em></h3>
          <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
            <!-- Table Header -->
            <thead>
              <tr>
                <th>Date</th>
                <th>Response</th>
              </tr>
            </thead>
            <!-- Table Header -->

            <!-- Table Body -->

            <tbody>
              <% @response_times.each_with_index do |(date, response_time), index| %>
              <tr <%= "class='even'" unless index %2 == 0 %>>
                <td><%= date.strftime('%e %b %Y %H:%m:%S%p') %></td>
                <td><%= response_time %>ms</td>
              </tr><!-- Table Row -->
              <% end %>
            </tbody>
            <!-- Table Body -->

          </table>
        </div>
        <% else %>
        <p>That URL doesn't exists.</p>
        <% end %>
      </div>
    </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>